{
    "swagger": "2.0",
    "info": {
        "title": "Diplicity API",
        "version": "1.0"
    },
    "host": "TODO.com",
    "basePath": "/api",
    "schemes": [
        "http"
    ],
    "paths": {
        "/games": {
            "get": {
                "summary": "Gets all games in a format that is suitable for displaying on the client.",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "status",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "pending",
                            "active",
                            "finished"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Game"
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error."
                    }
                }
            },
            "post": {
                "summary": "Creates a new game.",
                "description": "Creates a new game and adds the user as a member",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "name",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "description": "Name of the game.",
                            "example": "Game of Thrones"
                        }
                    },
                    {
                        "name": "variant",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "description": "Variant ID",
                            "example": "classical"
                        }
                    },
                    {
                        "name": "private",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "boolean",
                            "description": "Indicates if the game is private.",
                            "example": false
                        }
                    },
                    {
                        "name": "movementPhaseDuration",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "description": "Duration of the movement phase in milliseconds.",
                            "example": "172800000"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Game created successfully.",
                        "schema": {
                            "$ref": "#/definitions/Game"
                        }
                    },
                    "400": {
                        "description": "Bad request. Invalid variant or movementPhaseDuration is too long/short."
                    },
                    "500": {
                        "description": "Internal server error."
                    }
                }
            }
        },
        "/games/{gameId}": {
            "get": {
                "summary": "Gets the details of a specific game.",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "gameId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "Unique identifier for the game."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "$ref": "#/definitions/GameDetail"
                        }
                    },
                    "404": {
                        "description": "Game not found."
                    },
                    "500": {
                        "description": "Internal server error."
                    }
                }
            }
        },
        "/games/{gameId}/member": {
            "post": {
                "summary": "Adds the user to a game as a member.",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "gameId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "Unique identifier for the game."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "User added successfully.",
                        "schema": {
                            "$ref": "#/definitions/Game"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden. Game is not joinable."
                    },
                    "404": {
                        "description": "Game not found."
                    },
                    "409": {
                        "description": "Conflict. The user is already a member of the game."
                    },
                    "500": {
                        "description": "Internal server error."
                    }
                }
            },
            "delete": {
                "summary": "Removes the user from a game.",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "gameId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "Unique identifier for the game."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "User removed successfully.",
                        "schema": {
                            "$ref": "#/definitions/Game"
                        }
                    },
                    "400": {
                        "description": "Bad request. User is not a member of the game."
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden. Game has already started or has finished."
                    },
                    "404": {
                        "description": "Game not found."
                    },
                    "500": {
                        "description": "Internal server error."
                    }
                }
            }
        },
        "/games/{gameId}/phase-state": {
            "put": {
                "summary": "Updates the phase state of a game.",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "gameId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "Unique identifier for the game."
                    },
                    {
                        "name": "ordersConfirmed",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Phase state updated successfully.",
                        "schema": {
                            "$ref": "#/definitions/GameDetail"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden. User is not a member of the game or the game is not active."
                    },
                    "404": {
                        "description": "Game not found."
                    },
                    "500": {
                        "description": "Internal server error."
                    }
                }
            }
        },
        "/channels/{gameId}": {
            "get": {
                "summary": "Lists the chat channels for a given game.",
                "description": "Includes the channels of which the user's nation is a member. If the user is not a member of the the game, only show public channels.",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "gameId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "Unique identifier for the game."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "string",
                                        "description": "Unique identifier for the channel."
                                    },
                                    "name": {
                                        "type": "string",
                                        "description": "Name of the channel."
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Game not found."
                    },
                    "500": {
                        "description": "Internal server error."
                    }
                }
            },
            "post": {
                "summary": "Creates a new chat channel for a game.",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "gameId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "Unique identifier for the game."
                    },
                    {
                        "name": "nations",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "description": "List of nations to be included in the channel excluding the user's nation."
                            }
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Channel created successfully.",
                        "schema": {
                            "$ref": "#/definitions/Channel"
                        }
                    },
                    "400": {
                        "description": "Bad request. Invalid nations or nations includes user's nation"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden. Either user is not a member of the game or the game is not active."
                    },
                    "404": {
                        "description": "Game not found."
                    },
                    "409": {
                        "description": "Conflict. The channel already exists."
                    },
                    "500": {
                        "description": "Internal server error."
                    }
                }
            }
        },
        "/channels/{channelId}": {
            "post": {
                "summary": "Create a message in a channel.",
                "description": "Sends a notification to all members of the channel except the user (queue).",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "channelId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "Unique identifier for the channel."
                    },
                    {
                        "name": "content",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Message sent successfully.",
                        "schema": {
                            "$ref": "#/definitions/Message"
                        }
                    },
                    "400": {
                        "description": "Bad request. Message is empty or whitespace."
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden. User is not a member of the channel."
                    },
                    "404": {
                        "description": "Game or channel not found."
                    },
                    "500": {
                        "description": "Internal server error."
                    }
                }
            }
        }
    },
    "definitions": {
        "Channel": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string",
                    "description": "Unique identifier for the channel."
                },
                "nations": {
                    "type": "array",
                    "items": {
                        "type": "string",
                        "description": "Nation name"
                    },
                    "description": "List of nations in the channel."
                },
                "messages": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Message"
                    },
                    "description": "List of messages in the channel."
                },
            }
        },
        "Message": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string",
                    "description": "Unique identifier for the message."
                },
                "sender": {
                    "$ref": "#/definitions/Member"
                },
                "timestamp": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Timestamp of when the message was sent."
                },
                "content": {
                    "type": "string",
                    "description": "Content of the message."
                }
            }
        },
        "Game": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string",
                    "description": "Unique identifier for the game."
                },
                "status": {
                    "type": "string",
                    "description": "Current status of the game.",
                    "enum": [
                        "pending",
                        "active",
                        "finished"
                    ]
                },
                "name": {
                    "type": "string",
                    "description": "Name of the game.",
                    "example": "Game of Thrones"
                },
                "variant": {
                    "$ref": "#/definitions/Variant"
                },
                "movementPhaseDuration": {
                    "type": "string",
                    "description": "Duration of the movement phase as a user-friendly string.",
                    "example": "2 days"
                },
                "phase": {
                    "type": "string",
                    "description": "Current phase of the game.",
                    "example": "Spring 1901"
                },
                "phaseRemaining": {
                    "type": "string",
                    "description": "Time remaining in the current phase as a user-friendly string."
                },
                "nations": {
                    "type": "integer",
                    "description": "Number of nations in the game.",
                    "example": 7
                },
                "members": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Member"
                    },
                    "description": "List of members in the game."
                },
                "actions": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/GameAction"
                    },
                    "description": "Actions that the user can perform for the game"
                }
            },
            "required": [
                "id",
                "status",
                "name",
                "variant",
                "movementPhaseDuration",
                "phaseRemaining",
                "nations",
                "members"
            ]
        },
        "GameDetail": {
            "allOf": [
                {
                    "$ref": "#/definitions/Game"
                },
                {
                    "type": "object",
                    "properties": {
                        "phases": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Phase"
                            },
                            "description": "List of phases in the game."
                        },
                        "options": {
                            "type": "string",
                            "description": "Order option tree as a JSON string.",
                            "example": "{}"
                        }
                    }
                }
            ]
        },
        "Phase": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string",
                    "description": "Unique identifier for the phase."
                },
                "name": {
                    "type": "string",
                    "description": "Name of the phase.",
                    "example": "Spring 1901"
                },
                "provinces": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Province"
                    },
                    "description": "List of provinces in the phase."
                },
                "orders": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "array",
                        "items": {
                            "$ref": "#/definitions/Order"
                        },
                        "description": "List of orders for the nation."
                    }
                }
            }
        },
        "Variant": {
            "type": "object",
            "properties": {
                "name": {
                    "type": "string",
                    "description": "Name of the variant.",
                    "example": "Classical"
                },
                "description": {
                    "type": "string",
                    "description": "Description of the variant.",
                    "example": "The classic variant of the game."
                },
                "startYear": {
                    "type": "integer",
                    "description": "Starting year of the variant.",
                    "example": 1901
                },
                "author": {
                    "type": "string",
                    "description": "Author of the variant.",
                    "example": "John Doe"
                }
            },
            "required": [
                "name",
                "description",
                "startYear",
                "author"
            ]
        },
        "Member": {
            "type": "object",
            "properties": {
                "username": {
                    "type": "string",
                    "description": "Username of the member.",
                    "example": "johndoe"
                },
                "nation": {
                    "type": "string",
                    "description": "Nation of the member.",
                    "example": "France"
                },
                "isUser": {
                    "type": "boolean",
                    "description": "Indicates if the member is the current user."
                },
                "isEliminated": {
                    "type": "boolean",
                    "description": "Indicates if the member has been eliminated from the game."
                }
            },
            "required": [
                "username",
                "isUser"
            ]
        },
        "GameAction": {
            "type": "string",
            "enum": [
                "join",
                "leave"
            ]
        },
        "Province": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string",
                    "description": "Unique identifier for the province.",
                    "example": "lon"
                },
                "name": {
                    "type": "string",
                    "description": "Name of the province.",
                    "example": "London"
                },
                "unit": {
                    "$ref": "#/definitions/Unit"
                },
                "dislodged": {
                    "$ref": "#/definitions/Unit"
                }
            }
        },
        "Unit": {
            "type": "object",
            "properties": {
                "type": {
                    "type": "string",
                    "description": "Type of the unit.",
                    "enum": [
                        "army",
                        "fleet"
                    ]
                },
                "nation": {
                    "type": "string",
                    "description": "Nation that owns the unit.",
                    "example": "England"
                }
            }
        },
        "SupplyCenter": {
            "type": "object",
            "properties": {
                "nation": {
                    "type": "string",
                    "description": "Nation that owns the supply center."
                }
            }
        },
        "Order": {
            "type": "object",
            "properties": {
                "source": {
                    "$ref": "#/definitions/Province",
                    "description": "The province from which the order is issued."
                },
                "orderType": {
                    "type": "string",
                    "description": "Type of the order.",
                    "enum": [
                        "move",
                        "moveViaConvoy",
                        "hold",
                        "support",
                        "convoy",
                        "disband",
                        "build",
                        "retreat"
                    ]
                },
                "destination": {
                    "$ref": "#/definitions/Province",
                    "description": "The province to which the order is directed."
                },
                "aux": {
                    "$ref": "#/definitions/Province",
                    "description": "The province that is either being supported or convoyed."
                },
                "resolution": {
                    "$ref": "#/definitions/Resolution",
                    "description": "The resolution of the order."
                }
            }
        },
        "Resolution": {
            "type": "object",
            "properties": {
                "result": {
                    "type": "string",
                    "description": "Result of the order resolution.",
                    "enum": [
                        "success",
                        "failure"
                    ],
                    "example": "failure"
                },
                "details": {
                    "type": "string",
                    "description": "Details of the resolution.",
                    "example": "Bounced"
                }
            }
        }
    }
}