name: Build and Deploy Web

on:
  push:
    branches:
      - main

jobs:
  build_and_deploy_job:
    runs-on: ubuntu-latest
    name: Build and Deploy Job
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
          lfs: false
      - name: Build And Deploy
        id: builddeploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_BLUE_CLIFF_00777A403 }}
          repo_token: ${{ secrets.GITHUB_TOKEN }} # Used for Github integrations (i.e. PR comments)
          action: "upload"
          ###### Repository/Build Configurations ######
          app_location: "/packages/web/" # App source code path
          api_location: "api" # Api source code path - optional
          output_location: "/dist" # Built app content directory - optional
          app_build_command: "npm run build"
          app_artifact_location: "dist"
        env:
          VITE_GOOGLE_CLIENT_ID: ${{ secrets.GOOGLE_OAUTH_CLIENT_ID }}
          VITE_DIPLICITY_API_BASE_URL: ${{ secrets.SERVICE_BASE_URL }}
          VITE_DIPLICITY_API_BASE_URL: ${{ vars.SERVICE_BASE_URL }}
          VITE_MAINTENANCE_MODE: ${{ vars.MAINTENANCE_MODE }}
